{% extends 'core/base.html' %}

{% block content %}
  <h2>Welcome Dr. {{ doctor.name }}</h2>

  <h3>Your Appointments</h3>
  {% if appointments %}
    <table class="table table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th>Patient</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for appt in appointments %}
        <tr>
          <td>{{ appt.patient.name }}</td>
          <td>{{ appt.appointment_date }}</td>
          <td>{{ appt.appointment_time }}</td>
          <td>{{ appt.status }}</td>
          <td>{{ appt.description }}</td>
          <td>
            {% if appt.status == "Pending" %}
              <a href="{% url 'approve_appointment' appt.id %}" class="btn btn-success btn-sm">Approve</a>
              <a href="{% url 'reject_appointment' appt.id %}" class="btn btn-danger btn-sm">Reject</a>
              <a href="{% url 'doctor_profile' %}" class="btn btn-outline-info">Edit Profile</a>

            {% else %}
              <span class="text-muted">No actions</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No appointments assigned.</p>
  {% endif %}
{% endblock %}
