{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <!-- <h2 class="mb-3">Patient Profile</h2> -->

        <!-- Profile Update -->
        <h3>Edit Profile</h3>
        <form method="post">
            {% csrf_token %}
            {{ profile_form.as_p }}
            {{ extra_form.as_p }}
            <button type="submit" name="update_profile" class="btn btn-success">Update Profile</button>
        </form>

        <hr>

        <!-- Password Change -->
       
        <a href="{% url 'change_password' %}" class="btn btn-warning mt-3">Change Password</a>

        <hr>

        <!-- Navigation -->
        <a href="{% url 'patient_dashboard' %}" class="btn btn-primary mt-3">Go to Dashboard</a>
        <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Logout</a>
    </div>
</div>
{% endblock %}
